.fc-event {
  background-color: #F35823;
  border-color: #F35823;
  color: #fff;
}
/* ヘッダーの日にち */
.fc-col-header-cell-cushion {
  font-weight: 500;
}
.fc-theme-standard .fc-scrollgrid {
  border: none;
}
.fc td, .fc th {
  border-style: none;
}

thead {
  border: 1px solid #e4e4e4 ;
}

.fc-daygrid-day-frame {
  border-bottom: 1px solid #e4e4e4 ;
}

.fc-timegrid-slot-label-cushion, .fc-timegrid-axis-cushion {
  color: #636366;
  font-size: 12px;
}

.fc-event {
  padding: 6px;
  cursor: pointer;
}
.fc-timegrid-event-harness-inset .fc-timegrid-event {
  box-shadow: rgba(0, 0, 0, 0.136) 2px 5px 14px 0px;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 16px;
}

.fc-scrollgrid, .fc-scrollgrid-liquid {
  gap: 10px;
}

/* ボタン */
.fc .fc-button-primary  {
  background: white;
  border: 1px solid #D1D1D6;
  color: #636366;
}

.fc .fc-button-primary:hover  {
  background: white;
  border: 1px solid #D1D1D6;
  color: #8e8e95;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  background: white;
  border: 1px solid #D1D1D6;
  color: #636366;
}

.fc .fc-button-primary:not(:disabled).fc-button-active:hover {
  background: white;
  color: #8e8e95;
  border: 1px solid #D1D1D6;
}


::selection {
  color: #fff;
  background-color: #F67F46;
}

.fc .fc-toolbar-title {
  font-size: 20px;
}

.fc-col-header-cell-cushion {
  font-size: 14px;
}