.body {
  display: flex;
  padding: 16px;
  padding-top: 0;
}

.calendar {
  flex-basis: 70%;
  padding: 16px;
  background-color: white;
  border-radius: 6px;
}

.tickets {
  padding-right: 16px;
  flex-basis: 30%;
}
