.body {
  display: flex;
  padding: 16px;
  padding-top: 0;
}

.calendar {
  flex-basis: 70%;
  padding: 16px;
}

.tickets {
  padding-left: 16px;
  border-left: 1px solid #d1d1d6;
  flex-basis: 30%;
}
