.body {
  display: flex;
  padding: 30px;
  padding-top: 0;
}

.calendar {
  flex-basis: 70%;
  padding: 16px;
  background-color: white;
  border-radius: 6px;
  height: calc(100vh - 120px);
  overflow: scroll;
}

.tickets {
  padding-right: 16px;
  flex-basis: 30%;
  height: calc(100vh - 120px);
  overflow: scroll;
}
